<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">

    {% if title %}
        <title>{{ title }} - CheapTLDs.com</title>
    {% else %}
        <title>The Cheapest Top Level Domains List | Cheap TLDs</title>
    {% endif %}
    <meta name="description"
          content="In this post, Perrin looks into the new webmasters trend of 2018: Using your visitor&#039;s computers to mine crypto currencies."/>
    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="canonical" href="https://backlinko.com/google-rankbrain-seo"/>

    {% load staticfiles %}

    <link href="https://cdn.bootcss.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

    {% block head %}{% endblock %}
</head>
<body>
<nav>
    {% load staticfiles %}
    <div class="nav-wrapper container">
        <a href="{% url 'index' %}" class="brand-logo"><img src="{% static 'imags/logo.png' %}" class="img-responsive" width="200"
                                            alt=""/></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{% url 'reviews' %}">Reviews</a></li>
            <li><a href="{% url 'blog' %}">Blog</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
        </ul>
    </div>
</nav>

{% block blogtitle %}{% endblock %}

<div class="container">
    <div class="row">
        <div class="col l12 s12">

            {% block breadcrumb %}{% endblock %}
            {% block body %}{% endblock %}
        </div>
    </div>
</div>

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">页脚内容</h5>

                <p class="grey-text text-lighten-4">你可以用行和列来组织你的页脚内容。</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">链接</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">链接 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">链接 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">链接 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">链接 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <p>© 2017-2018 Made by <i style="color:#ee5253;" class="icon-heart "></i> <a
                    href="{% url 'index' %}">Cheap TLDs</a></p>
            <a class="grey-text text-lighten-4 right" href="#!">更多链接</a>
        </div>
    </div>
</footer>

{% block js %}{% endblock %}
</body>
</html>