{% extends "base.html" %}

{% block body %}

    {% for blog in blogs %}

        <h2><a href="{{ blog.slug|safe }}">{{ blog.title|safe }}</a></h2>

        <div class="">
            {% if blog.author %}
                <div class="chip light-green-text text-darken-2">
                    {% load staticfiles %}
                    <img src="{% static 'imags/administrator.png' %}" alt="Author">{{ blog.author|safe }}
                </div>
            {% endif %}
            {% if blog.author %}
                <div class="chip">
                    <i class="material-icons">schedule</i>{{ blog.created|date:"F j,Y" }}
                </div>
            {% endif %}
            {% if blog.author %}
                <div class="chip">
                    <i class="material-icons">loyalty</i>{{ blog.category|safe }}
                </div>
            {% endif %}
        </div>

        <article>
            {{ blog.content|safe }}
        </article>

    {% endfor %}

{% endblock %}