{% extends "base.html" %}

{% block body %}

{% for blog in blogs %}

<h2><a href="{{blog.slug|safe}}">{{blog.title|safe}}</a></h2>

<div class="post-meta">
    <ul>
    <i class="icon-user"></i><li class="blog-author">{{blog.author|safe}}</li>
    <i class="icon-time"></i><li class="blog-time">{{blog.created|date:"F j,Y" }}</li>
    <i class="icon-tags"></i><li class="blog-cate">{{blog.category|safe}}</li>
        </ul>
</div>

<article>
    {{blog.content|safe}}
</article>

{% endfor %}

{% endblock %}