{% extends "base.html" %}

{% block blogtitle %}
    <div class="center-align">
        <h3> {{ blog.title|safe }} </h3>
        <a href="{% url 'index' %}"><span class="icon icon-home"> </span>Home</a> /
        <a href="{% url 'blog' %}"><span class="icon icon-beaker"> </span>Blog</a> /
        {{ blog.title|safe }}
    </div>
{% endblock %}

{% block body %}
    {{ blog.content|safe }}
    <div class="center-align">
        {% if blog.author %}
            <div class="chip  light-green-text text-darken-2">
                {% load staticfiles %}
                <img src="{% static 'imags/logo.png' %}" alt="Contact Person">{{ blog.author|safe }}
            </div>
        {% endif %}
        {% if blog.author %}
            <div class="chip">
                <i class="icon-time"></i>
                {{ blog.created|date:"F j,Y" }}
            </div>
        {% endif %}
        {% if blog.author %}
            <div class="chip">
                <i class="icon-time"></i>
                {{ blog.category|safe }}
            </div>
        {% endif %}
    </div>
{% endblock %}