{% extends "base.html" %}


{% block body %}

    <div class="row">
        <form class="col l8 offset-l2 s10 offset-s1">
            <div class="input-field">
                <i class="material-icons prefix">search</i>
                <input id="icon_prefix" type="text" class="validate">
                <label for="icon_prefix">Search String...</label>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col l8 offset-l2 s12">
                <a class="waves-effect waves-light btn">.com</a>
                <a class="waves-effect waves-light btn">.org.org.</a>
                <a class="waves-effect waves-light btn">.net</a>
                <a class="waves-effect waves-light btn">.co</a>
        </div>
    </div>

    <!-- /input-group -->


    <table id="example" class="table table-hover price-table" cellspacing="0" width="100%">
        <thead class="price-thead">
        <tr>
            <th class="price-th">Domain</th>
            <th></th>
            <th class="price-th">Register</th>
            <th></th>
            <th class="price-th">Renewal</th>
            <th></th>
            <th class="price-th">Transfer</th>
        </tr>
        </thead>
        <tbody>
        {% for price in prices %}
            <tr class="price-td">
                <td class="price-td"><a href="#">{{ price.name }}</a></td>
                <td class="price-td"><a href="#">{{ price.reg }}</a></td>
                <td class="price-td"><a href="#">${{ price.reg_p }}</a></td>
                <td class="price-td"><a href="#">{{ price.rene }}</a></td>
                <td class="price-td"><a href="#">${{ price.rene_p }}</a></td>
                <td class="price-td"><a href="#">{{ price.tran }}</a></td>
                <td class="price-td"><a href="#">${{ price.tran_p }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}