{% extends "base.html" %}
{% block headdes %}
    <meta name="description" content="cheapest .{{ domain.name }}domain registration "/>
    <link rel="canonical" href="https://cheaptlds.com/tlds/{{ domain.name }}/"/>
{% endblock %}
{% block breadcrumb %}
    <div class="breadcrumb">
        Home /
        <a href="{% url 'tlds' %}"> TLDs /</a>
        <a href="{% url 'domain' domain.name %}"> {{ domain.name }}</a>
    </div>
{% endblock %}

{% block body %}
    <h1 class="center" style="font-size: 2rem">Cheapest <strong class="h1-keyword">.{{ domain.name }}</strong> Domain
        Registration</h1>
    <p> Registrars Available:<span itemprop="offerCount">[  <strong>{{ count }}</strong>  ].</span>
        {% if count != 0 %}
            Registration prices from
            <strong><span itemprop="priceCurrency" content="USD">  $</span><span itemprop="lowPrice"
                                                                                 content="{{ min.promo__min }}">{{ min.promo__min }}</span></strong>
            to<strong><span itemprop="priceCurrency" content="USD">  $</span><span itemprop="highPrice"
                                                                                   content="{{ max.promo__max }}">{{ max.promo__max }}</span></strong>
            </p>
        {% endif %}
    {% if prices %}
        <table id="example" class="table striped" cellspacing="0" width="100%">
            <thead>
            <tr class="table-header price-table-tr">
                <th class="center price-table-th">Registrar</th>
                <th class="center price-table-th">Register Price</th>
                <th class="center price-table-th">Renewal Price</th>
                <th class="center price-table-th">Transfer Price</th>
                <th class="center price-table-th">Whois Privacy</th>
            </tr>
            </thead>
            <tbody>
            {% load static %}
            {% for price in prices %}
                <tr>
                    <td>
                        <a href="#">{% static 'imags/registrars/' as baseUrl %}<img
                                src="{{ baseUrl }}{{ price.registrar.keyword }}_logo.png" class="registrar-logo-img"
                                alt="{{ reg.keyword }}"/>{{ price.registrar.name }}</a>
                        {% if price.registrar.keyword == 'godaddy' %}
                            <a href="javascript:void(0);"><span class="task-cat tooltip green right"
                                                                title="Best GoDaddy domain coupon,<br> click to copy."
                                                                data-clipboard-text="CJCRMN">CJCRMN</span></a>
                        {% elif price.registrar.keyword == 'namecheap' %}
                            <a href="javascript:void(0);"><span class="task-cat green right"
                                                                data-clipboard-text="NAMECHEAP">NAMECHEAP</span></a>
                        {% elif price.registrar.keyword == 'name' %}
                            <a href="javascript:void(0);"><span class="task-cat green right"
                                                                data-clipboard-text="name">name</span></a>
                        {% elif price.registrar.keyword == 'namesilo' %}
                            <a href="javascript:void(0);"><span class="task-cat green right"
                                                                data-clipboard-text="namesilo">namesilo</span></a>
                        {% elif price.registrar.keyword == 'porkbun' %}
                            <a href="javascript:void(0);"><span class="task-cat green right"
                                                                data-clipboard-text="porkbun">porkbun</span></a>


                        {% endif %}
                    </td>
                    {% if price.promo >= 0 %}
                        <td class="center">${{ price.promo }}</td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                    {% if price.renewal >= 0 %}
                        <td class="center">${{ price.renewal }}</td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                    {% if price.transfer >= 0 %}
                        <td class="center">${{ price.transfer }}</td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                    {% if price.privacy >= -0.1 %}
                        <td class="center">${{ price.privacy }}</td>
                    {% elif price.privacy > -1.5 %}
                        <td class="center tooltip" title="Free Privacy"><i
                                class="material-icons green-text">verified_user</i></td>
                    {% else %}
                        <td class="center tooltip" title="Don't Support">
                            <i class="material-icons red-text">do_not_disturb_off</i></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning" role="alert">There are not registrars for this extension now.</div>

    {% endif %}
    {% if domain.name %}
        <h4>About {{ domain.name }}:</h4>
    {% endif %}
    {% if domain.description %}
        <p>{{ domain.description }}</p>
    {% endif %}
    <h2 style="font-size:1.4rem">.{{ domain.name }} Details:</h2>

    <ul class="collection">
        <li class="collection-item avatar">
            <i class="large material-icons circle green">loyalty</i>
            <span class="title">gTLD</span>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing</p>
            <a href="#!" class="secondary-content">{{ domain.type }}</a>
        </li>
        <li class="collection-item avatar">
            <i class="material-icons circle green">business</i>
            <span class="title">Registry</span>
            <p>{{ domain.registry }}</p>
            <a href="#!" class="secondary-content">{{ domain.registry }}</a>
        </li>
        <li class="collection-item avatar">
            <i class="material-icons circle green">label</i>
            <span class="title">Label</span>

            <p>This is the label for this domain</p>
            <span class="secondary-content">{{ domain.label }}</span>
        </li>
        {% if domain.type == 'ccTLD' %}
            <li class="collection-item avatar">
                <i class="material-icons circle red">flag</i>
                <span class="title">Country</span>
                <p>Country Flags</p>
                <span class="secondary-content">{% static 'imags/flags/' as baseUrl %}<img
                                src="{{ baseUrl }}{{ domain.name }}.svg" width="48"
                                alt="{{ domain.name }}"/></span>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block js %}
    <script src="https://unpkg.com/clipboard@2.0.0/dist/clipboard.min.js"></script>
    <script src="https://unpkg.com/tippy.js@2.3.0/dist/tippy.all.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.tooltipped').tooltip({delay: 50});
        });

        new ClipboardJS('.task-cat');
        tippy('.tooltip', {
            arrow: true,
            dynamicTitle: true
        });

    </script>
{% endblock %}
