{% extends "base.html" %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li><span class="icon icon-home"> </span>Home</li>
    <li><a href="{% url 'tlds' %}"><span class="icon icon-beaker"> </span> TLDs</a></li>
    <li><a href="#"><span class="icon icon-double-angle-right"></span> com</a></li>
</ol>
{% endblock %}

{% block body %}
<h1><span class="label label-success">{{ domain.name }}</span></h1>
<h3>Related domains:
    <span class="label label-warning">.net</span>
    <span class="label label-warning">.org</span>
    <span class="label label-warning">.co</span>
</h3>
<h2>{{domains}}</h2>
{% if prices %}
<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>Registrar</th>
        <th>Register Price</th>
        <th>Renewal Price</th>
        <th>Transfer Price</th>
        <th>Whois</th>
    </tr>
    </thead>
    <tbody>
    {% for price in prices %}
    <tr>
        <td>{{ price.registrar}}<a href="#"><img src="" class="table-logo" alt=""/></a></td>
        <td>${{ price.register }}</td>
        <td>${{ price.renewal }}</td>
        <td>${{ price.transfer }}</td>
        <td>${{ price.whois }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-warning" role="alert">There are not registrars for this extension now.</div>

{% endif %}
{% if domain.name %}
<h2>About {{ domain.name }}:</h2>
{% endif %}
{% if domain.description %}
<p>{{ domain.description }}</p>
{% endif %}
{% if domain.type %}
<h3>Type : {{ domain.type }}</h3>
{% endif %}


{% endblock %}
