

.navbar {
    position: relative;
    min-height: 74px;
    margin-bottom: 20px;
    border: none;
    box-shadow: 3px 3px 5px #888888;

}

.navbar-brand {
    float: left;
    height: 74px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px
}

.navbar-toggle {
    /* (74px - button height 34px) / 2 = 21px */
    margin-top: 20px;
    padding: 9px 10px !important;
}

.search-tip {

}

.search-list li {
    display: inline;
    list-style-type: none;
    padding-right: 15px;
    font-size: 1.4em;
}

.registrar-list {
    margin-bottom: 26px;
    border-radius: 8px;
}

.price-table {
    border: none;
    font-size: 18px;

}

.price-thead .price-th {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    line-height: 1.5em;
    border: none;
    text-align: center;
    background-color: #10ac84;

}

.price-td {
    border: none;
    border-bottom-color: #fff;
}

table.dataTable tbody tr {
    min-height: 48px;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 20px 10px;
}

.table-logo {
    width: 26px;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 3px;
}

.material-icons.yellow600 { color: #ffff00; }